* {
    margin: 0;
    padding: 0;
}

a:focus
{
    outline: none;
}



/*______ELEMENTS MUTES______*/

.banniere {
    background-image: url(../img/banner2.png);
    background-repeat: no-repeat;
    background-size: 100% 124px;
    margin-top: 0;
    width: 100%;
    height: 124px;
    display: none;
    /*    margin-bottom: 50px;*/
}

#hr {
    margin: 25px 15%;
}



/*______NAV et SIDEBAR_______*/

.navbar-default {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(184, 184, 184, 0.2);
}

#acc {
    text-align: center;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
    font-size: 2.4rem;
}

.titre-menu {
/*    padding: 15px 0 15px 0;*/
    font-size: 2rem;
    background-color: rgba(23, 62, 199, 0);
    color: #525252;
    text-align: center;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.sidebar {
    text-align: right;
}

.hs {
    margin-bottom: 10px;
}

.titre-hs {
    text-decoration: none!important;
    color: #7c7c7c!important;
}

.titre-hs:hover {
    color: black!important;
}

.categorie-side {
    transition: 2s;
}

.categorie-side:hover {

/*
        box-shadow: inset 0 0 20px rgba(23, 62, 199, 0.3),
 0 0 0 2px rgb(0, 10, 255),
 5px 5px 200px 50px #ff00b1,
 inset 0 0 60px 10px rgb(0, 255, 88);
*/

    box-shadow: inset 0 0 20px rgba(23, 62, 199, 0.3), inset 0 0 0 .5px rgba(0, 4, 114, 0.3);
    transition: .1s;
}

.hs-bgcolor {
    background-color: transparent!important;
    border: 1px solid rgba(255, 255, 255, 0)!important;
}

.hs-border {
   border: 1px solid rgba(255, 255, 255, 0)!important;
}

.hs-cont {
    margin: 0;
}

form {
    text-align: center;
}

#mdp {
    margin-top: 15px;
    margin-bottom: 15px;
}

input {
    margin-left: 1em;
}

#sub {
    padding: 8px;
    background-color: rgba(127, 181, 255, 0.8);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.4);
}



/*______CONTAINER______*/

.pagi {
    text-align: center;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.case {
    height: 300px;
    width: 300px;
    border: 3px solid rgb(237, 166, 27);
    margin: 25px 10px;
    position: relative;
    border-top-left-radius: 20px;
    transition: .5s;
}

.caseBleue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -10px;
    bottom: -10px;
    height: 50px;
    width: 100px;
    background-color: rgb(23, 62, 199);
    border-top-left-radius: 50%;
    transition: .5s;
}

.t-caseBleue {
    text-align: center;
    color: aliceblue;
}

.t-caseBleue:hover {
    text-align: center;
    color: #b9deff;
    text-decoration: none;
}

.img-case {
    width: 100%;
    max-width: 100%;
    position: absolute;
    transition: .5s;
}

#resume-case {
    position: absolute;
    margin: 0 15px;
    top: 50%;
    transform: translateY(-50%);
    color: transparent;
    transition: .2s;
    text-decoration: none;
}



/*______MODAL______*/

#mod {
    width: 90%;
}

#imgdemerde {
    width: 600px;
}

.modal-footer {
    border-top:1px solid transparent!important;
}



/*______FOOTER______*/

footer {
    background-color: rgb(44, 75, 184);
    color: rgb(213, 161, 29);
    padding: 20px;
}


/*______MEDIA QUERIES______*/

@media only screen and (min-width:540px) {

}

@media only screen and (min-width:720px) {
    .flexbox {
        flex-direction: row;
    }
    .recherche {
        width: 150px!important;
    }
    .banniere {
        background-image: url(../img/banner.png);
        background-repeat: no-repeat;
        background-size: 100% 124px;
        margin-top: 0;
        width: 100%;
        height: 124px;
    }
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    #imgdemerde {
    width: 400px;
    }
    input {
        margin-left: -5px;
    }
}

@media only screen and (min-width:960px) {
    .banniere {
        background-image: url(../img/banner3.png);
        background-repeat: no-repeat;
        background-size: 100% 124px;
        margin-top: 0;
        width: 100%;
        height: 124px;
    }
    .recherche {
        width: 220px!important;
    }
}

@media only screen and (min-width:1150px) {
    #imgdemerde {
    width: 600px;
    }

    .container .case {
      width: 30%;
    }
}
